<style>
    .table-hover tbody tr:hover td {
        background: rgb(172, 154, 0);
    }
</style>


<div ng-controller="WorkersPresenceWeekCtrl">

    <h1>Pregled prisustva radnika</h1>
    <button class="btn btn-primary" ng-click="exportToExcel('#tableToExport')">Export to Excel</button>





    <div>
        <div class="form-check float-left">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="checkedValue" ng-model="prikaziTipUgovora">
                Prikaži tip ugovora
            </label>
            <br>
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="checkedValue" ng-model="prikaziSamoAktivne"
                    ng-change="doSearch(true, false)">
                Prikaži samo aktivne radnike
            </label>
        </div>
        <div class="col-3 col-xs-6 col-md-2 col-lg-1 form-group float-right">
            <select ng-model="rowsPerPage" ng-change="doSearch(true, false)" id="rowsPerPage" class="custom-select"
                name="rowsPerPage">
                <option value="10" ng-selected="rowsPerPage == 10">10</option>
                <option value="20" ng-selected="rowsPerPage == 20">20</option>
                <option value="50" ng-selected="rowsPerPage == 50">50</option>
            </select>
        </div>
        <div class="float-right">
            <input type="date" name="Date2" id="inputDate2" class="form-control" ng-model="datum2"
                ng-change="doSearch(true, false)">
        </div>
        <div class="float-right">
            <input type="date" name="Date1" id="inputDate1" class="form-control" ng-model="datum1"
                ng-change="doSearch(true, false)">
        </div>
    </div>




    <div id="tableToExport">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th colspan="{{brojKolona()}}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pretraga radnika"
                                aria-label="Pretraga radnika" aria-describedby="basic-addon2"
                                ng-model="searchWorker.nameOrLastName">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                    ng-click="doSearch(true, false)">Pretraži</button>
                                <button class="btn btn-outline-secondary" type="button"
                                    ng-click="doSearch(true, true)">Reset</button>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="btn-group float-right" style="margin-bottom:5px">
                            <button ng-disabled="pageNum == 0" ng-click="doPage(-1)"
                                class="btn btn-warning">Previous</button>
                            <button ng-disabled="pageNum == totalPages-1 " ng-click="doPage(1)"
                                class="btn btn-warning">Next</button>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th ng-show="prikaziTipUgovora">Tip ugovora</th>
                    <th style="text-align: center;" ng-repeat="d in dani">{{d.getDate()+"/"+d.getMonth()}}</th>
                    <th style="text-align: center;">
                        SUM
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="w in workers">
                    <td>{{$index + 1 + pageNum * rowsPerPage}}</td>
                    <td>{{w.name}}</td>
                    <td>{{w.lastName}}</td>
                    <td ng-show="prikaziTipUgovora">{{w.contractType}}</td>
                    <td style="text-align: center;" ng-repeat="d in dani">
                        <span>{{w.presences[$index].hours}}</span>
                    </td>
                    <td style="text-align: center;">
                        <span>{{w.sumHours}}</span>
                    </td>
                </tr>
            </tbody>

            <tfoot class="thead-dark">
                <tr>
                    <th colspan="{{brojKolona()}}"></th>
                    <th>
                        <div class="btn-group float-right" style="margin-bottom:5px">
                            <button ng-disabled="pageNum == 0" ng-click="doPage(-1)"
                                class="btn btn-warning">Previous</button>
                            <button ng-disabled="pageNum == totalPages-1 " ng-click="doPage(1)"
                                class="btn btn-warning">Next</button>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>


</div>