<style>
    .table-hover tbody tr:hover td {
        background: rgb(172, 154, 0);
    }
</style>


<div ng-controller="WorkersPresenceCtrl">

    <h1>Prisustvo radnika</h1>
    <button class="btn btn-primary" ng-click="exportToExcel('#tableToExport')">Export to Excel</button>





    <div>
        <div class="col-3 col-xs-6 col-md-2 col-lg-1 form-group float-right">
            <select ng-model="rowsPerPage" ng-change="doSearch()" id="rowsPerPage" class="custom-select"
                name="rowsPerPage">
                <option value="10" ng-selected="rowsPerPage == 10">10</option>
                <option value="20" ng-selected="rowsPerPage == 20">20</option>
                <option value="50" ng-selected="rowsPerPage == 50">50</option>
            </select>
        </div>
        <div class="float-right">
            <input type="date" name="Date" id="inputDate" class="form-control" ng-model="datum"
                ng-change="doSearch(true)">
        </div>
    </div>

    <div id="tableToExport">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th colspan="5">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pretraga radnika"
                                aria-label="Pretraga radnika" aria-describedby="basic-addon2"
                                ng-model="searchWorker.nameOrLastName">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                    ng-click="doSearch(true)">Pretraži</button>
                                <button class="btn btn-outline-secondary" type="button"
                                    ng-click="doSearch(false)">Reset</button>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="btn-group float-right" style="margin-bottom:5px">
                            <button ng-disabled="pageNum == 0" ng-click="doPage(-1)"
                                class="btn btn-warning">Previous</button>
                            <button ng-disabled="pageNum == totalPages-1 " ng-click="doPage(1)"
                                class="btn btn-warning">Next</button>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Tip ugovora</th>
                    <th style="text-align: center;">Vreme na poslu</th>
                    <th style="text-align: center;">Akcije</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="w in workers">
                    <td>{{$index + 1 + pageNum * rowsPerPage}}</td>
                    <td>{{w.name}}</td>
                    <td>{{w.lastName}}</td>
                    <td>{{w.contractType}}</td>
                    <td style="text-align: center;">
                        <input type="number" name="{{w.id}}" id="input{{w.id}}" class="form-control" step="0.25"
                            ng-model="w.presence.hours">
                    </td>
                    <td style="text-align: center;">
                        <button type="button" class="btn btn-success" ng-click="doSave($index)">Sačuvaj</button>
                        <button type="button" class="btn btn-success" ng-click="doSave8($index)">Sačuvaj 8h</button>
                        <button type="button" class="btn btn-danger" ng-click="doDelete($index)" ng-disabled="w.presence.id == null">Obriši</button>
                    </td>
                </tr>
            </tbody>

            <tfoot class="thead-dark">
                <tr>
                    <th colspan="5"></th>
                    <th>
                        <div class="btn-group float-right" style="margin-bottom:5px">
                            <button ng-disabled="pageNum == 0" ng-click="doPage(-1)"
                                class="btn btn-warning">Previous</button>
                            <button ng-disabled="pageNum == totalPages-1 " ng-click="doPage(1)"
                                class="btn btn-warning">Next</button>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>


</div>